<div class="footer-container">
    <div class="app">
        <h3>Download Our App</h3>
        <p>Download App for Android and iOS</p>
        <div class="app-images">
            <button><img src="./src/img/play-store.png" alt="Play Store logo"></button>
            <button><img src="./src/img/app-store.png" alt="App Store logo"></button>
        </div>
    </div>
    <div class="purpose">
        <img src="./src/img/logo.png" alt="OrangeOasis logo">
        <p> 
            Our purpose is to inspire you to elevate your fashion game and embrace your inner boldness, no matter your age, size, or background. Join our community of fashion lovers.
        </p>
    </div>
    <div class="links">
        <div class="about-links">
            <h4>About</h4>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="about.html">Privacy Policy</a></li>
                <li><a href="about.html">Terms & Conditions</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="follow-links">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
            </ul>
        </div>
    </div>
</div>
<p>Copyright 2023 • Orange Oasis</p>