<div class="header-container">
    <a href="index.html"><img src="./src/img/logo.png" alt="OrangeOasis logo"><h1>OrangeOasis</h1></a>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <ion-icon name="menu-outline" class="hamburger-menu"></ion-icon>
        <a href="cart.html" class="cart-icon">
            <ion-icon name="bag-outline"></ion-icon>
            <div class="cart-info cart-empty">
                <p></p>
            </div>
        </a>
    </div>
</div>