main {
    min-height: 60vh;
}

.cart {
    margin-top: 80px;
    flex-direction: column;
}

.cart-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 0 30px 0 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 50px;
    border-radius: 20px;
    box-shadow: 4px 4px 22px -6px rgba(94, 94, 94, 0.57);
}

.cart-item ion-icon {
    font-size: 30px;
    margin: 0 10px;
}

.cart-item input {
    font-size: 1.6rem;
    text-align: center;
    width: 40px;
    height: 30px;
}

.cart-item > h4 {
    width: 100px;
}

.cart-product {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-product h4:nth-child(2) {
    width: 220px;
}

.cart-product h4 {
    line-height: 30px;
}

.cart-product img {
    width: 100px;
    height: 100px;
}

.quantity,
.sub-total {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.sub-total h4:last-child {
    height: 30px;
    display: flex;
    align-items: center;
}

.item-total {
    display: flex;
    gap: 50px;
}

.cart-bottom {
    margin: 30px 0 80px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.cart-bottom h3 {
    color: #ffffff;
    font-weight: 600;
}

.enter-coupom {
    background-color: #ff523b;
    padding: 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 4px 4px 22px -6px rgba(0, 0, 0, 0.57);
}

.enter-coupom input {
    margin: 20px 10px 0 0;
    padding: 0 15px;
    height: 35px;
    border: none;
    border-radius: 10px;
}

.enter-coupom button {
    background-color: #ffffff;
    color: #ff523b;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 15px 0;
    width: 60px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.enter-coupom button:hover {
    background-color: #ff523b;
    color: #ffffff;
}

.wrong-coupom {
    background-color: rgb(252, 186, 186);
}

.total-details {
    background-color: #cacaca;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 4px 4px 22px -6px rgba(0, 0, 0, 0.57);
}

.total-details button {
    background-color: #ff523b;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 25px auto 0;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.total-details button:hover {
    background-color: #ffffff;
    color: #ff523b;
}

.detail {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.empty {
    color: #000000;
    text-align: center;
    padding: 30px;
}

@media (max-width: 910px) {
    .cart-product h4:nth-child(2) {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .cart-item {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
        align-items: end;
    }

    .cart-item ion-icon {
        margin-right: -5px;
    }

    .item-total {
        width: 100%;
        justify-content: center;
    }

    .cart-bottom {
        gap: 50px;
    }
}

@media (max-width: 576px) {
    .cart {
        margin-top: 20px;
    }

    .cart-bottom {
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .enter-coupom,
    .total-details {
        width: 300px;
    }
}
