main {
    padding-bottom: 30px;
}

.menu li:nth-child(2) {
    border-bottom: 3px solid #ff523b;
    transform: translateY(-5px);
}

.products-title {
    color: #000000;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    padding: 80px 0px 40px 0;
}

.toggle-page {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.page-button {
    background-color: #ff523b;
    color: #ffffff;
    margin-left: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.page-button p {
    color: inherit;
    font-size: 2rem;
}

.current-button {
    background-color: #ffffff;
    color: #555555;
}
