.featured, .latest, .allproducts {
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.product {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 200px;
}

.rating {
    margin: 5px 0;
}

.rating ion-icon {
    color: #ff523b;
    font-size: 18px;
}

@media (max-width: 910px) {
    .featured, .latest, .allproducts {
        gap: 20px;
    }

    .product img {
        width: 150px;
    }

    .rating {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .product {
        width: 150px;
    }

    .rating ion-icon {
        font-size: 13px;
    }

    .featured, .latest, .allproducts {
        gap: 20px;
    }

    .product img {
        width: 130px;
    }
}