.featured, .latest, .allproducts {
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

.product {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 200px;
}

.rating {
    margin: 5px 0;
}

.rating ion-icon {
    color: #ff523b;
    font-size: 18px;
}
