@media (max-width: 910px) {
    h2 {
        font-size: 4rem;
        line-height: 40px;
    }
    
    h3 {
        font-size: 1.6rem;
    }

    h4, p {
        font-size: 1.5rem;
    }

    .hero {
        margin-top: 0;
    }

    .banner {
        width: 300px;
        height: 150px;
    }

    .hero-content, .hero img {
        flex-basis: auto;
    }

    .hero-content {
        text-align: center;
    }

    .hero img {
        height: 365px;
        width: 300px;
    }

    .hero:after {
        display: none;
    }

    .title {
        font-size: 2rem;
    }

    .footer-container {
        justify-content: center;
        text-align: center;
    }

    .app-images {
        align-items: center;
    }

    .links li {
        font-size: 1.4rem;
    }

    .benefit {
        width: 165px;
    }

    .benefit p {
        width: 95%;
    }

    .featured, .latest, .allproducts {
        gap: 20px;
    }

    .product img {
        width: 150px;
    }

    .benefit img {
        width: 120px;
    }

    .rating {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {    
    nav {
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #333333;
        width: 250px;
        z-index: 1;
        padding: 40px 0;
        gap: 40px;
        max-height: 10px;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .menu-height {
        max-height: 400px;
    }

    .menu li {
        padding: 0;
        margin: 0;
    }

    .menu li a {
        color: white;
    }

    .hamburger-menu {
        display: block;
    }

    .about-banner {
        height: 150px;
        margin-bottom: 30px;
    }

    .about {
        flex-direction: column;
    }
}


@media (max-width: 576px) {
    h2 {
        font-size: 3rem;
    }

    h3, .links h4 {
        font-size: 1.4rem;
    }

    h4, p, .links li a {
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.6rem;
        margin: 30px 0;
    }

    .benefit, .product {
        width: 150px;
    }

    .rating ion-icon {
        font-size: 13px;
    }

    .featured, .latest, .benefits, .allproducts {
        gap: 20px;
    }
    
    .hero-content, .container {
        padding: 10px;
    }

    .product img {
        width: 130px;
    }

    .about img, .who {
        width: 300px;
    }

    .contact iframe, .email, .information {
        width: 300px;
        height: 240px;
    }
}