@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #ff7300 #786d6d00;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #786d6d00;
}

*::-webkit-scrollbar-thumb {
    background-color: #ff7300;
    border-radius: 10px;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #ffece9;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 0;
}

h2 {
    font-size: 5rem;
    line-height: 60px;
    font-weight: 700;
    margin: 25px 0;
}

h3 {
    color: #ffffff;
    font-size: 2rem;
}

h4 {
    color: #555555;
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    color: #555555;
    font-size: 1.6rem;
    line-height: 25px;
}

a {
    color: #555555;
    font-size: 1.6rem;
    text-decoration: none;
}

ion-icon {
    cursor: pointer;
}

header {
    background: #ffece9;
}

header ion-icon {
    font-size: 25px;
}

.header-container {
    margin: 0 auto;
    padding: 5px 40px;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-right: 20px;
    padding: 10px 0 5px 0;
    transition: transform 0.3s;
}

.menu li:hover {
    transform: translateY(-5px);
}

.hamburger-menu {
    font-size: 30px;
    padding-top: 5px;
    margin-right: 20px;
    display: none;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: #ffc26b;
    padding-top: 5px;
    box-shadow: 0px -12px 18px 4px rgba(231, 166, 26, 0.32);
}

footer > p {
    text-align: center;
    padding-bottom: 10px;
}

.footer-container {
    margin: 10px auto;
    max-width: 1300px;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 1.5px solid #ff523b;
}

.app p {
    margin: 10px 0;
}

.app-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app-images img {
    width: 150px;
    cursor: pointer;
}

.purpose {
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purpose p {
    font-size: 1.4rem;
}

.purpose img {
    width: 150px;
}

.about-links,
.follow-links {
    flex-basis: 50%;
}

.links {
    display: flex;
    gap: 30px;
}

.links ul li {
    margin-top: 10px;
}

.links h4 {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.show {
    display: block;
}

.cart-icon {
    margin-top: 5px;
    position: relative;
}

.cart-info {
    background-color: #ff0000;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    left: -5px;
}

.cart-info p {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -3.5px;
    left: 1.5px;
}

.cart-empty {
    visibility: hidden;
}

.top-button {
    background-color: #ff7300c5;
    padding: 5px;
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.top-button ion-icon {
    color: #ffffff;
    font-size: 30px;
}

@media (max-width: 910px) {
    h2 {
        font-size: 4rem;
        line-height: 40px;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4,
    p {
        font-size: 1.5rem;
    }

    .footer-container {
        text-align: center;
        justify-content: center;
    }

    .app-images {
        align-items: center;
    }

    .links li {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    nav ul {
        background-color: #333333;
        width: 250px;
        padding: 20px 0 20px 0;
        gap: 10px;
        max-height: 10px;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 1;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .menu-height {
        max-height: 400px;
    }

    .menu li {
        padding: 0;
        margin: 0;
        width: 100%;
        height: fit-content;
        display: block;
    }

    .menu li a {
        color: #ffffff;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hamburger-menu {
        display: block;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 3rem;
    }

    h3,
    .links h4 {
        font-size: 1.4rem;
    }

    h4,
    p,
    .links li a {
        font-size: 1.3rem;
    }

    .container {
        padding: 10px;
    }
}
